{% extends "./base.html" %}
{% load static %}

{% block head %}

{% endblock %}



{% block title %} Login {% endblock %}

{% block body %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">



<div class="row">
    <div class="col">
        <div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="0" class="active" aria-current="true"
                aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#hero-carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active c-item">
                <img src="{% static 'img/insta.jpg' %}" width="400" height="450" class="d-block w-100 c-img" alt="Slide 1">
                <div class="carousel-caption top-0 mt-4">
                  <p class="mt-5 fs-3 text-uppercase">Descubre y aprende</p>
                  <h1 class="display-1 fw-bolder text-capitalize">Seinen</h1>
                  <button class="btn btn-primary px-4 py-2 fs-5 mt-5">Ver</button>
                </div>
              </div>333
              <div class="carousel-item c-item">
                <img src="{% static 'img/monster.jpg' %}" width="400" height="450"  class="d-block w-100 c-img" alt="Slide 2">
                <div class="carousel-caption top-0 mt-4">
                  <p class="text-uppercase fs-3 mt-5">The Egoist</p>
                  <p class="display-1 fw-bolder text-capitalize">Spokon</p>
                  <button class="btn btn-primary px-4 py-2 fs-5 mt-5" data-bs-toggle="modal"
                    data-bs-target="#booking-modal">Ver</button>
                </div>
              </div>
              <div class="carousel-item c-item">
                <img src="{% static 'img/pain.jpg' %}" width="400" height="450" class="d-block w-100 c-img" alt="Slide 3">
                <div class="carousel-caption top-0 mt-4">
                  <p class="text-uppercase fs-3 mt-5">Naruto'shippuden</p>
                  <p class="display-1 fw-bolder text-capitalize">Shonen</p>
                  <button class="btn btn-primary px-4 py-2 fs-5 mt-5" data-bs-toggle="modal"
                    data-bs-target="#booking-modal">Ver</button>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#hero-carousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#hero-carousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
    <div class="col">
        <form class="exoticox" action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <button class="login">Sing up</button>
        </form>
    </div>
</div>


{% endblock %}



{% block footer %}

{% endblock %}